@charset "utf-8";
*{margin:0;padding:0;text-decoration: none;}
.items {float: left;height: 95px;  width: 200px;font-family: "宋体";font-size: 12px; display:block;}
.items img { width:74px; float:left; display:block;}
.items ul { list-style-type: none; padding:0; margin:0;}
.items ul li {overflow: hidden; text-overflow: clip; white-space: nowrap; width:200px;}
.items .name {float: left; overflow: hidden;text-overflow: clip; white-space: nowrap;width: 110px; font-weight:bold; font-size:11px; margin:5px 0 5px 2px;}
.items .enname { float:left; overflow: hidden;text-overflow: clip;white-space: nowrap;width: 110px; margin:0 0 0 2px;}
.items .code{ margin:0 0 0 2px; }
.c{ clear:both;} 